@tailwind base;
@tailwind components;
@tailwind utilities;


.button_style{
    @apply border-b-2 border-btn_text shadow-xl bg-white rounded-xl
    text-xl font-Inter font-medium px-8 py-3 text-btn_text uppercase
    tracking-wide transition duration-200 hover:border-x hover:border-btn_text
}

/* section title style */
.section_title{
    @apply border-y-4 md:text-4xl text-3xl font-Inter font-normal text-titleColor md:py-5 py-3
}
.section_subTitle{
    @apply text-subTitle_color text-xl font-Inter font-normal italic pb-2
}

/* category swiper title */
.swiper_title{
    @apply font-Cinzel font-medium text-white uppercase text-3xl 
    shadow-2xl text-opacity-80 -mt-44 text-center
}

/* menu section style */
.menu_title {
    @apply font-Cinzel font-normal text-xl text-titleColor
}
.recipe_style {
    @apply text-PopularColor font-Inter font-normal
}
.price_style {
    @apply text-btn_color font-Inter text-xl
}

/* chef RECOMMENDS */
.chef_btn{
    @apply uppercase text-btn_color text-xl font-Inter font-medium py-3 px-7 
    border-b-4 border-btn_color rounded-xl hover:bg-btn_text transition duration-200
    hover:border-titleColor border-t-2 border-t-white shadow-xl 
}
/* feature section style */
.feature_btn {
    @apply uppercase text-white text-xl font-Inter font-medium py-3 px-7 
    border-b-4 border-white rounded-xl hover:bg-white 
    hover:text-titleColor transition duration-200
    hover:border-white
}

/* order food style */
.sub_btn{
    @apply px-4 border-none font-Inter font-bold text-2xl uppercase hover:border-b-4 
    hover:border-btn_color bottom-0 text-btn_color
}

/* login style */
.login_submit_btn{
    @apply w-full py-2 bg-login_btn text-white text-xl font-Inter font-bold 
    rounded-lg tracking-wide
}
.input_label{
    @apply label-text font-Inter font-bold text-xl text-descColor
}
.social_btn {
    @apply w-10 h-10 text-descColor border-2 border-descColor p-2 rounded-full
}